#userForm {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    /* padding: 2% 17%; */
    margin: 5% 22%;
}

#userInputForm {
    font-family: inherit;
    border-radius: 5px;
    border: 7px solid rgb(255, 255, 255);
    font-size: 1.3em;
    color: #79c1e0;
}

#submitButton {
    text-align: center;
    border-radius: 5px;
    border: 2px solid rgb(255, 255, 255);
    color: #293a49;
    padding: 0.4em 1.2em;
    font-size: 1.2em;
    font-weight: 600;
    font-family: inherit;
    background-color: #79c1e0;
    transition: border-color 0.25s;
    position: relative;
}