
.Provided {
  position: relative;
  text-align: center;
  margin: 3% 7%;
  width: 70% 70%;
  display: flex;
  justify-content: space-between;
}

.word {
  margin: auto;
  position: relative;
  text-align: center;
  margin: 2% 7%;
  display: flex;
  justify-content: center;
}

.inputBox {
  margin: 0% 30%;
  text-align: center;
  /* justify-content: center; */

}